@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  width: 900px;
}

.img-size-sm {
  width: 50px;
  height: 50px;
  padding-right: 5px;
}

.img-size-sm img {
    width: 100%;
    height: auto;
}

.img-size-lg {
  width: 350px;
  height: 350px;
  padding-right: 20px;
}

.img-size-lg img {
    width: 100%;
    height: auto;
}

#profile-bottom {
  clear: left;
}

.navbar-right {
  padding-right: 10px;
}

span.glyphicon-alight-justify {
  font-size: 2em;
}

.header {
  padding-top: 50px;
}

.form-group {
  width: 400px;
}

body {
  margin: auto;
  width: 600px
}

.front-button {
  margin-bottom: 15px;
}

.front-link {
  margin-bottom: 1px 0px;
}

#file-input {
  margin-top: 10px;
  margin-bottom: 10px;
}
